<!-- HEADER: PRIMARY SITE NAVIGATION -->
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-12">
<div class="navbar navbar-default">
<div class="navbar-header"></div>
<div class="buttons-container"></div>
<div class="navbar-collapse">
<ul class="nav nav-pills navbar-nav">
{% if session.usuario == 'Administrador' %}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilidades <i>Mantenimiento</i></a>
    <ul class="dropdown-menu">
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/mantenimiento/clientes">- Clientes/Empresas</a></li>
    </ul>
</li>

{% endif %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nómina Cálculos<i>Reportes</i></a>
    <ul class="dropdown-menu">
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/calculo/nomina">- Nómina</a></li>
        {# <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/calculo/cestaticket">- Cestaticket</a></li> #}
        {# <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/calculo/prestaciones">- Préstaciones</a></li> #}
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/calculo/vacaciones">- Vacaciones</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recibos de Pago<i>Reportes</i></a>
    <ul class="dropdown-menu">
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/recibos-pago/nomina">- Nómina</a></li>
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/recibos-pago/cestaticket">- Cestaticket</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otros Reportes<i>de Nómina</i></a>
    <ul class="dropdown-menu">
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/otros-reportes/constancia-trabajo">- Constancia de Trabajo</a></li>
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/otros-reportes/registro-patrimonial">- Registro Patronal del Asegurado</a></li>
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/otros-reportes/declaracion-ince">- Declaración Trimestral Ince</a></li>
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/otros-reportes/declaracion-mintra">- Declaración Trimestral Mintra</a></li>
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/otros-reportes/notificacion-prestaciones">- Notificación Trimestral de Prestaciones</a></li>
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/otros-reportes/seguro-social">- Seguro Social</a></li>
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/otros-reportes/politica-habitacional">- Política Habitacional</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contabilidad<i>Balances</i></a>
    <ul class="dropdown-menu">
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/contabilidad/ingresos-egresos">- Resumen Ingresos vs Egresos</a></li>
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/contabilidad/comprobacion">- Balance de Comprobación</a></li>
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/contabilidad/general">- Balance General</a></li>
        <li class="single"><a href="{{constant('ROOT')}}contabilidad/nomina/contabilidad/resultado">- Balance de Resultado</a></li>
    </ul>
</li>
<li class="single"><a href="{{ constant('ROOT') }}contabilidad/?logout=true">Salir
<i>Finalizar sesión</i></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>