{# indice #}
{% extends 'layout/condominio.html.twig'%}
{% block titulo %}
{% endblock %}
{% block contenido %}
    <!-- MAIN CONTENT AREA -->
    <div class="main-content">
        <div class="container">
            <div class="row show-grid">
                <div class="col-md-12 col-sm-12">
                    <!-- BREADCRUMBS -->
                    <div id="breadcrumb">
                        <ul>
                            <li class="home"><a href="{{ constant('URL_SISTEMA') }}/administracion">MH Calidad Condominios</a></li>
                            <li>Publicar Reporte de Fondos</li>
                        </ul>
                    </div>
                    <div class="row show-grid clear-both">
                        <!-- BEGIN ARTICLE CONTENT AREA -->
                        <div class="col-md-12 col-sm-12 main-column">
                            <article>
                                <h2><a href="#">Publicar Fondos Condominio</a></h2> 
                                {% if resultado is defined %}
                                {% include 'misc/resultado.html.twig' %}
                                {% endif %}
                                <form id="publicacion" action="{{constant('URL_SISTEMA')}}/administracion/publicar-fondo" method="post" class="form-horizontal contact-agent-form" enctype="multipart/form-data">
                                    <div class="container">
                                        <div class="row">
                                            <div class="control-group col-md-6 col-sm-6">
                                                <label class="control-label" for="inputName">Condominio<sup>*</sup></label>
                                                <select class="required form-control" name="id_inmueble" style="height: 30px">"
                                                    <option value="">Seleccione</option>
                                                    {% for inmueble in inmuebles %}
                                                        <option value="{{ inmueble.id }}">{{ inmueble.nombre_inmueble }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>                                         
                                        </div>
                                        <div class="row">
                                            <div class="control-group col-md-8 col-sm-8">
                                                <label for="archivo" class="control-label">Seleccione el reporte de fondos (formato PDF)<sup>*</sup></label>
                                                <input type="file" id="archivo" name="archivo" accept="application/pdf">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="control-group form-button-offset col-md-6 col-sm-6">
                                                <input type="submit" value="Publicar" class="btn btn-default">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <br />
                                <div class="text-divider5">
                                    <span></span>
                                </div>
                                {% if cartelera %}
                                    <table id="cartelera-publicaciones" class="table table-bordered table-striped" data-url="{{ constant("URL_SISTEMA") }}/administracion/eliminar-publicacion">
                                    <colgroup>
                                        <col class="col-md-1 col-sm-1">
                                        <col class="col-md-9 col-sm-9">
                                        <col class="col-md-2 col-sm-2">
                                     </colgroup>
                                    <thead>
                                        <tr>
                                        <th>Inmueble</th>
                                        <th>Publicación</th>
                                        <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cartelera %}
                                        <tr id="fila{{ item.id }}">
                                        <td>{{ item.id_inmueble }}</td>
                                        <td>{{ item.detalle }}</td>
                                        <td><a href="#" id="{{ item.id }}" class="item">Eliminar</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                {% endif %}
                            </article>
                                                <!-- END ARTICLE CONTENT AREA -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block js %}
        {{ parent() }}
        <script type="text/javascript" src="{{ constant('ROOT')}}js/jquery-validate/jquery.validate.js"></script>
<script type="text/javascript" src="{{ constant('ROOT')}}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ constant('ROOT')}}js/jquery-validate/localization/messages_es.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
    $('a.item').live('click', function() {
        var url = $("#cartelera-publicaciones").attr("data-url");
        console.log(url);
        $.post(url,{id: this.id},
        function(data) {
            $("tr#fila" + data ).css("display","none");

        });
        return false;
    });
    $("#publicacion").validate({
        rules : {
            id_inmueble : {
                required : true
            },
            archivo : {
                required : true
            }
        },
        messages : {
            id_inmueble: {
                required: "Seleccione un condominio de la lista"
            },
            archivo : {
                required: 'Debe seleccionar el acta de junta'
            }
        },
        errorElement : 'span',
        errorClass : 'error',
        errorPlacement : function(error, element) {
            if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                $(".error").show();
            } else {
                if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                } else {
                        error.insertAfter(element);
                }
            }
        }
    });
});
</script>
    {% endblock %}