{# indice #}
{% extends 'layout/contabilidad.html.twig'%}
{% block titulo %}{% endblock %}
{% block contenido %}
<!-- MAIN CONTENT AREA -->
<div class="main-content">
<div class="container">
<div class="row show-grid">
<div
class="col-md-12 col-sm-12">
<!-- BREADCRUMBS -->
<div id="breadcrumb">
    <ul>
        <li class="home">
            <a href="{{constant('ROOT')}}contabilidad/">MH Calidad Administración y Contabilidad</a>
        </li>
        <li>{{session.usuario}}</li>
    </ul>
</div>
<div class="row show-grid clear-both">
    <!-- BEGIN ARTICLE CONTENT AREA -->
        <div class="col-md-7 col-sm-7">
            {% if reporte %}
                {% include 'contabilidad/carga.'~ reporte ~'.html.twig' %}
            {% else %}
                <div class="alert alert-error">
                    <h2>Lo sentimos mucho....</h2>
                    Estamos presentando problemas internos para mostrar el formulario de carga
                </div>
            {% endif %}
        </div>
        <!-- END ARTICLE CONTENT AREA -->
        <!-- BEGIN LEFT-SIDEBAR -->
        <div id="left-sidebar" class="col-md-5 col-sm-5">
            <!-- LEFT-SIDEBAR: SIDEBAR NAVIGATION -->
            <div class="side-nav sidebar-block">
                <h2 style="border-bottom:none">Publicaciones</h4>
                <div class="text-divider5">
                    <span></span>
                </div>
                <div id="lista_publicaciones">
                <div class="alert alert-info">
                <span>Seleccione un cliente de la lista para ver las publicaciones asociadas a ese cliente.</span>
                </div>
                </div>
            </div>
        </div>
        <!-- END LEFT-SIDEBAR -->
    </div>
</div>
</div>
</div>
<!-- MAIN CONTENT AREA: bizstrap CUSTOM - RECENT TWEETS BAR -->
<div class="recent-tweets">
<div class="container">
<div class="row show-grid">
    <div class="col-sm-12 col-md-12 twitter-wrapper">
        <div id="nav_t"></div>
        <div class="cartelera-slide" data-url="{{constant('ROOT')}}">
            <ul class="slides"></ul>
        </div>
        <span class="follow_img"><img alt="" src="{{constant('ROOT')}}img/mhcalidad_informa.png" class="img-responsive"/></span>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block js %}
{{parent()}}
<script type="text/javascript" src="{{constant('ROOT')}}js/condominio.js"></script>
<script type="text/javascript" src="{{constant('ROOT')}}js/jquery-validate/jquery.validate.js"></script>
<script type="text/javascript" src="{{constant('ROOT')}}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{constant('ROOT')}}js/jquery-validate/localization/messages_es.js"></script>
<script type="text/javascript" src="{{constant('ROOT')}}js/contabilidad.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	
	$("#publicacion").validate({
        messages : {
			id_cliente: {
				required: "Seleccione un cliente de la lista"
			},
            year: {
                required: "Falta el año"
            },
			archivo : {
				required: 'Seleccione un archivo'
			}
		},
		errorElement : 'span',
		errorClass : 'error',
		errorPlacement : function(error, element) {
			if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
				$(".error").show();
			} else {
				if (element.parent('.input-group').length) {
					error.insertAfter(element.parent());
				} else {
					error.insertAfter(element);
				}
			}
		}
	});
});
</script>
{% endblock %}
