{# indice #}
{% extends 'layout/contabilidad.html.twig'%}
{% block titulo %}
{% endblock %}
{% block contenido %}
<!-- MAIN CONTENT AREA -->
<div class="main-content">
<div class="container">
<div class="row show-grid">
        <div class="col-md-12 col-sm-12">
            <!-- BREADCRUMBS -->
            <div id="breadcrumb">
                <ul>
                    <li class="home"><a href="{{constant('ROOT')}}contabilidad/">MH Calidad Administración y Contabilidad</a></li>
                    <li>{{session.usuario.nombre}}</li>
                </ul>
            </div>
            <div class="row show-grid clear-both">
                <!-- BEGIN ARTICLE CONTENT AREA -->
                <div class="col-md-9 col-sm-9 main-column two-columns-right">
                <h2 style="border-bottom: 3px solid #b04229;">{{ doc? doc|replace({'_':' '}) : titulo|title }}</h2>
                {% if archivos %}
                    <ul>
                    {% for archivo in archivos %}
                        {% set ancla = archivo|replace({'SERVICIOS_INSTRUMENTISTAS':'','DIARIO_INSTRUMENTISTA':'','DIARIO_ASOCIACION':'','_':' '}) %}
                        {% set ancla = ancla|replace({(session.usuario.Id):('')}) %}
                        <li><a href="documentos/{{archivo}}.pdf" target="_blank">{{ancla}}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {% if listado %}
                        {% include 'misc/listado.contabilidad.html.twig' %}
                    {% else %}
                        <div class="alert alert-error">
                            <h2>Lo sentimos mucho....</h2>
                            No existen documentos publicados.
                        </div>
                    {% endif %}
                {% endif %}
                        
                        
                    </article>
                    <!-- END ARTICLE CONTENT AREA -->
                </div>
                <!-- BEGIN LEFT-SIDEBAR -->
                    <div id="left-sidebar" class="col-md-3 col-sm-3 sidebar"> 
                        <!-- LEFT-SIDEBAR: SIDEBAR NAVIGATION -->
                        <div class="side-nav sidebar-block">
                            <h2>Gestionado por</h2>
                            <ul>
                                <li style="border-bottom:none">
                                    <a href="http://www.administracion-condominio.com.ve" title="Sistema de Administración de Condominio" target="_blank" style="background: none;">
                                        <img class="img-responsive" alt="" src="{{constant('ROOT')}}img/logo.gif">
                                    </a>
                                </li>
                            </ul>
                        </div>                                
                    </div>
                    <!-- END LEFT-SIDEBAR -->
            </div>
        </div>
    </div>
</div>
<!-- MAIN CONTENT AREA: bizstrap CUSTOM - RECENT TWEETS BAR -->
<div class="recent-tweets">
<div class="container">
<div class="row show-grid">
<div class="col-sm-12 col-md-12 twitter-wrapper">
<div id="nav_t"></div>
<div class="cartelera-slide" data-url="{{constant('ROOT')}}">
<ul class="slides"></ul>
</div>
<span class="follow_img"><img alt="" src="{{constant('ROOT')}}img/mhcalidad_informa.png" class="img-responsive" /></span>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block js %}
{{ parent() }}
<script type="text/javascript" src="{{constant('ROOT')}}js/condominio.js"></script>
{% endblock %}